*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: "Solway", serif;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

#page-container {
    position: relative;
    min-height: 100vh;

    max-width: 100%;
    margin: auto;
}

#content-wrap {
    padding-bottom: 3rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: #2a3b50;
    text-align: center;
    border-top: 2px solid #bdc3c7;
}

#footer p {
    font-size: 13px;
    color: gray;
}

#footer #country {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#topbar {
    border-bottom: 2px solid #000000;
}

#topbar h2{
    padding: 10px;  
    color: white;
    text-align: left;
    background-color: #2a3b50;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    background-color: #ffffff;
    color: #000000;
}

#main p {
    text-align: center;
}


.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    border-top:1px solid#000000;
}

.image img {
    margin: 10px;
    width: 100%;
    max-width: 418px;
    height: auto;
    box-shadow: 0 4px 100px 0 rgba(0,0,0,20);
}

.goback button {
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 3px #f05545;
    cursor: pointer;
}

.goback button:hover {
    background-color: black;
    color: white;
    
}

.desc {
    max-width: 500px;
    width:100%;

    padding-top: 100px;
    margin-right: 100px;
    text-align: center;
}

#second .desc {
    margin-right: 0px;
    margin-left: 100px;
}

.image button {
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

video {
    width: 100%;
    height: auto;  
}

@media screen and (max-width: 1000px) {
    .image {
        flex-direction: column;
        align-items: center;
    }

    .desc {
        margin-right: 0px;
        margin-bottom: 50px;
        padding-top: 0px;
    }

    #second .desc {
        margin-left: 0px;
        padding-top: 50px;
    }
}